<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.vo.Car" alias="car"/>
		<typeAlias type="com.vo.WorkPlan" alias="workplan"/>
		<typeAlias type="com.vo.WorkHistory" alias="workhistory"/>
		
	</typeAliases>
	
	<mappers>
		<mapper resource="com/config/carmapper.xml"/>
		<mapper resource="com/config/workplanmapper.xml"/>
		<mapper resource="com/config/workhistorymapper.xml"/>
		
	</mappers>
</configuration>






