<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.WorkHistoryMapper">
	
	<select id="select" parameterType="map" resultType="workhistory">
		<!-- SELECT * FROM TB_WORK_HISTORY WHERE HISTORY_NUM=#{obj} -->
		SELECT * FROM TB_WORK_HISTORY <![CDATA[ WHERE CAR_ID= #{car_id} AND END_TIME >= TO_DATE(#{start_date},'yyyy-mm-dd') AND END_TIME <= TO_DATE(#{end_date}, 'yyyy-mm-dd')]]>
	</select>
	<select id="selectall" resultType="workhistory">
		SELECT * FROM TB_WORK_HISTORY 
	</select>
	<insert id="insert" parameterType="workhistory">
		INSERT INTO TB_WORK_HISTORY VALUES (SEQ_HISTORY.NEXTVAL, #{car_id},#{a_id},#{p_location_x},#{p_location_y}, #{p_load}, SYSDATE)
	</insert>
	<update id="update" parameterType="workhistory">
		UPDATE TB_WORK_HISTORY SET WORK_STATUS=#{work_status},END_TIME=#{end_time} WHERE HISTORY_NUM=#{history_num}
	</update>
	<delete id="delete" parameterType="String">
		DELETE FROM TB_WORK_HISTORY WHERE HISTORY_NUM=#{obj}
	</delete>
	
</mapper>






